.page {
    max-width: 75%;
    margin: 0 aut0;
}
.page-date {
    font-size: 12px;
}

.page-title {
    margin: 15px 0;
}

.page-description {
    font-size: 14px;
}

.page-home {
    color: #61dafb;
    font-size: 12px;
    display: block;
    margin-top: 15px;
}