.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-close {
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    right: 0;
    top: 0;
}

.modal-close::after {
    position: absolute;
    content: "\00d7";
    display: block;
    right: 15px;
    cursor: pointer;
    top: 15px;
    
}

.create-form {
    width: 400px;
    height: 400px;
    background-color: #eee;
    padding: 50px;
    border-radius: 12px;
    position: relative;
}

.create-form__label {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    margin-top: 25px;
}

.create-form__label:first-child {
    align-items: center;
}

.create-form__input {
    background-color: #282c34;
    outline: none;
    border: none;
    border-radius: 3px;
    padding: 12px 20px ;
    color: #fff;
    resize: none;
    width: 200px;
}

.button {
    outline: none;
    border-radius: 3px;
    padding: 12px 25px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.create-form__button {
    background-color: rgb(210 148 210);
    color: #fff;
    margin-top: 25px;
}

.add-post__button {
    background-color: rgb(141, 200, 145);
    color: #fff;
    margin: 25px 0;
}

.remove-post__button {
    background-color: rgb(201, 94, 80);
    color: #fff;
}